<h1>Canada region videos data</h1>

In [2]:
import pandas as pd

df = pd.read_csv('data/CAvideos.csv')

print(df.columns)

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [11]:
df.isnull().sum()

video_id                     0
trending_date                0
title                        0
channel_title                0
category_id                  0
publish_time                 0
tags                         0
views                        0
likes                        0
dislikes                     0
comment_count                0
thumbnail_link               0
comments_disabled            0
ratings_disabled             0
video_error_or_removed       0
description               1296
dtype: int64

In [3]:
print(df.head(1)['title'])

0    Eminem - Walk On Water (Audio) ft. Beyonc√©
Name: title, dtype: object

In [4]:
print(df.head(1)['channel_title'])

0    EminemVEVO
Name: channel_title, dtype: object

In [5]:
print(df.head(10)['category_id'])

0    10
1    23
2    23
3    24
4    10
5    25
6    23
7    22
8    24
9    22
Name: category_id, dtype: int64

In [6]:
print(df.head(1)['trending_date'])

0    17.14.11
Name: trending_date, dtype: object

In [7]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format='%y.%d.%m')

In [8]:
start_date = df['trending_date'].min()
end_date = df['trending_date'].max()
print(f"trending_start_date: {start_date} | trending_end_date: {end_date}")

trending_start_date: 2017-11-14 00:00:00 | trending_end_date: 2018-06-14 00:00:00

In [12]:
print(len(df))

40881

<h1>Categories data</h1>

In [17]:
import json

with open('data/categories.json') as f:
    categories = json.load(f)

categories_df = pd.json_normalize(categories['items'])
categories_df = categories_df[['id', 'snippet.title']]
categories_df.columns = ['category_id', 'category_title']

print(len(categories_df))
categories_df.head()

31

  category_id    category_title
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports